.logo {}

.logo img {
    width: 164px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Segoe UI";
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

section span img {
    width: 82px;
    margin: 0 23px;
}

.first p {
    font-size: 23px;
    width: 44vw;
    text-align: center;
}



.btn {
    background: #00b6d1;
    padding: 14px 16px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
    margin: 12px 0;
    cursor: pointer;
}
.btn-blue{
    margin: 0 4px 5px;
    background-color: #00b6d1;
    border-width: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    padding: 12px 15px;
    min-height: 10px;
    text-transform: none;
}
.btn-green{
    margin: 0 4px 5px;
    padding: 12px 15px;
    background: #5cb85c;
    border-width: 0px;
    border-radius: 5px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    min-height: 10px;
    text-transform: none;
}
.btn-blue a{
   text-decoration: none;
    color: #ffffff;
}
.btn-green a{
   text-decoration: none;
    color: #ffffff;
}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.second { 
    max-width: 80vw;
    margin: auto; 
}

.item {
    padding: 10px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.item-lang1{
     padding-bottom: 49px;
}

.item-lang{
    text-align: center;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 20px;
}
.item-2{
    text-align: center;
    padding-bottom: 15px;
    line-height: 1.3e;
    font-weight: 400;
    font-size: 60%;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:23px;
    margin-right: 3%;
    text-align: center;
    word-wrap: break-word;
}

.download :nth-child(2){
    font-size: 23px;
}

.download img{
    padding: 0px 12px;
}
.download{
    display: flex;
    font-family: sans-serif;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 1145px) {
    .grid{ 
        grid-template-columns: 1fr; 
    }
}